@import url(https://fonts.googleapis.com/css?family=Raleway);

$color-title: #3DABFF;
$color-default-box: #CACACA;
$color-default-box-text: #808080;
$color-default-box-text-hover: darken($color-default-box-text, 15%);
$color-active-box: darken($color-title, 15%);
$color-active-box-text: darken($color-title, 30%);
$color-active-box-text-hover: #FFF;
$color-btn-text: #FFF;
$color-btn-background: darken($color-title, 30%);
$color-bday-text: #565656;

$size-box: 20px;

@mixin transition() {
    $time: 0.4s;
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

@mixin transform() {
    $deg: 360deg;
    $scale: 3.4;
    -moz-transform: scale($scale) rotate($deg);
    -webkit-transform: scale($scale) rotate($deg);
    -o-transform: scale($scale) rotate($deg);
    -ms-transform: scale($scale) rotate($deg);
    transform: scale($scale) rotate($deg);
}

body {
    font-family: 'Raleway','sans-serif';
}

.form-group {
    width: 462px;
    margin: 100px auto;

    .date-input {
        width: 100%;
        height: 64px;
        line-height: 64px;
        font-size: 20px;
        text-align: center;
        color: $color-bday-text;
    }

    .date-button {
        display: block;
        width: 200px;
        height: 64px;
        line-height: 64px;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: $color-btn-text;
        background: $color-btn-background;
        border: none;
        margin: 0 auto 20px auto;

        &:visited, &:active {
            color: $color-btn-text;
        }
    }
}

.main-title {
    margin-top: 100px;
}

h1, h3, h4 {
    text-align: center;
}

h1 {
    color: darken($color-title, 20%);
}

h3, h4 {
    color: $color-title;
}

.grid {
    width: 80%;
    min-height: 300px;
    margin: 100px auto;

    & .box {
        @include transition();
        width: $size-box;
        height: $size-box;
        background-color: $color-default-box;
        color: $color-default-box-text;
        display: inline-block;
        margin: 2px 4px;

        &:hover {
            @include transform();
            background: darken($color-default-box, 20%);
            color: $color-default-box-text-hover;
        }

        &.active {
            background-color: $color-active-box;
            color: $color-active-box-text;

            &:hover {
                background: darken($color-active-box, 20%);
                color: $color-active-box-text-hover;
            }
        }

        & span {
            font-size: 8px;
            display: table;
            margin: 0 auto;
            padding-top: 25%;
        }
    }
}
