$color-default-box: #CACACA;
$color-active-box: #6C98C5;
.grid {
    width: 99%;
    min-height: 300px;
    margin: 0 auto;

    & .box {
        width: 10px;
        height: 10px;
        background-color: $color-default-box;
        display: inline-block;
        margin: 0 2px;

        &.active {
            background-color: $color-active-box;
        }
    }
}
